


<section class="landing-section h-screen w-screen text-center relative overflow-hidden flex items-center" data-header-color="black">
    <div class="h-screen w-screen z-30 relative flex flex-col">
        <header class=" flex flex-col">
            <h2 class="text-black pt-40 text-[40px] font-medium">Disfrute de Tesla</h2>
            <p class="text-black text-sm">Paneles Solares</p>
        </header>
        <footer class=" flex flex-grow flex-nowrap justify-end flex-col pb-20">
            <div>
                <a class="border-[3px] border-black bg-white/5 rounded font-medium px-12 py-2 inline-block blackdrop-blur-3xl text-black hover:text-black hover:bg-white  transition-colors" href="#">Nuestros Productos</a>
            </div>
        </footer>
    </div>
    <div class="absolute top-0 bottom-0 h-full w-full z-10">
        <img class="w-full h-full object-cover objet-center" src="../../public/img/SolarPanels.avif" alt="SolarPanels">
    </div>
</section>